Repository hydroshare/hydroshare, pull requests merged in 2018-02, with the labels that each got.

#2525 1566 quota
  hs_core/hydroshare/resource.py
  hs_core/hydroshare/utils.py
  hs_core/models.py
  hs_core/router.py
  hs_core/tasks.py
  hs_core/testing.py
  hs_core/tests/api/native/test_add_resource_files.py
  hs_core/tests/api/native/test_change_quota_holder.py
  hs_core/tests/api/native/test_create_resource.py
  hs_core/tests/api/native/test_irods_user_zone_federation.py
  hs_core/views/__init__.py
  theme/management/commands/update_used_storage.py
  theme/migrations/0009_quotamessage_enforce_quota.py
  theme/migrations/0010_auto_20180207_1845.py
  theme/migrations/0011_auto_20180211_0105.py
  theme/models.py
Labels: in progress

#2578 2426 discovery phrase matching
  Dockerfile
  hs_core/discovery_form.py
  hs_core/discovery_parser.py
  hs_core/management/commands/solr_facets.py
  hs_core/management/commands/solr_prepare.py
  hs_core/management/commands/solr_queries.py
  hs_core/search_indexes.py
  hs_core/templates/search/indexes/hs_core/baseresource_text.txt
  hs_core/templates/search/search.html
  hs_core/templatetags/hydroshare_tags.py
  hs_core/tests/api/native/test_discovery_parser.py
  hs_core/views/discovery_json_view.py
  hs_core/views/discovery_view.py
  hsctl
  theme/models.py
  theme/static/js/discover.js
Labels: Discovery, High Priority, enhancement

#2613 [HOTFIX] Resolve merge conflict preventing 1.15 build
  hs_core/management/commands/solr_prepare.py
  theme/migrations/0012_1_15_RC_merge.py
Labels: Discovery, High Priority, bug

#2642 Keep management commands from crashing unexpectedly in unusual situations.
  hs_core/management/commands/ingest_irods_files.py
  hs_core/management/commands/repair_resource.py
  hs_core/management/utils.py
Labels: File System, High Priority, Operational, iRODS
